body {
  margin: 0;
  margin-top: 10vh;
  font-family: "Josefin Sans", sans-serif;
}

.container {
  max-width: 100%;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}