.doubleRoles {
    width: 100%;
    padding: 10px;
    display: flex;
    gap: 20px;
    justify-content: center;
    font-family: "Averia Gruesa Libre", system-ui;
}

.doubleRoles a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 10px;
    transition: all 0.2s ease;
    border-radius: 5px;
}
.doubleRoles a:hover {
    transform: rotate(-1deg) scale(1.1);
}

.teacherLink:hover {
    background-color: rgb(246, 236, 255)
}

.studentLink:hover {
    background-color: rgb(234, 255, 234);
}