.worker, .reverseWorker { 
    border: 4px solid black; 
    box-shadow: 8px 8px black; 
    justify-content: space-between; 
    padding: 20px; 
    display: flex;
    align-items: center;
    gap: 40px;
    width: 70%;
    margin: 15px;
} 

.reverseWorker {
    flex-direction: row-reverse;
}

.imageContainer {
    height: 100%;
}

.imageContainer img {
    display: block;
    padding: 10px;
    height: 50vh;
    background-color: #fff8f0;
    border: 5px solid black;
    box-shadow: 5px 5px black;
}

.worker .imageContainer img {
    transform: rotate(-15deg);
}

.reverseWorker .imageContainer img {
    transform: rotate(15deg);
}

.teacherAbout {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.teacherAbout {
    font-size: 32px
}