@import url('https://fonts.googleapis.com/css2?family=Averia+Gruesa+Libre&display=swap');

.info {
    background: radial-gradient(circle, #2b5e49 0%, #1e3f32 100%);
    padding: 30px;
    width: 60%; 
    color: #fcfcfc; 
    font-family: "Averia Gruesa Libre", system-ui;
    
    border: 12px solid #5d4037; 
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    box-shadow: 
        inset 0 0 50px rgba(0,0,0,0.5), 
        10px 10px 0px rgba(0,0,0);
    margin: 40px auto;
    position: relative;
    overflow: hidden;
}

.info::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-image: url("https://www.transparenttextures.com/patterns/chalkboard.png");
    opacity: 0.3;
    pointer-events: none;
}

.info::after {
    content: "";
    display: block;
    position: absolute;
    width: 60px;
    height: 12px;
    background: #eeeeee;
    bottom: 5px;
    right: 40px;
    border-radius: 2px;
    transform: rotate(-5deg);
    box-shadow: 2px 2px 0px rgba(0,0,0,0.2);
}

.info th, .info td:not(.title) {
    padding: 18px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 24px;
}

.info th {
    font-weight: bold;
    color: #ffeb3b; 
    width: 40%;
}

.roleTag {
    background: #A97142;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 0.8rem;
    margin-right: 5px;
    text-transform: uppercase;
}

.passwordChange {
    text-decoration: none;
    color: black;
    transition: 0.2s ease all;
}

.passwordChange:hover {
    transform: translateY(-2px);
}

.field {
    font-weight: bold;
    color: #ffeb3b;
}

.title {
    text-align: center;
    font-size: 36px;
    padding: 18px;
    font-weight: bold;
    color: #ffeb3b;
}